<div class="about">

  <div class="texto">
    <p>Rick and Morty keeps on pushing the boundaries of television animation with outrageous stories, multidimensional traveling, and a morbid sense of humor. Seemingly coming out of nowhere, it has connected with audiences like few other shows from the past decade. But, between production delays, behind-the-scenes turmoil, and a fanbase that sometimes takes things too far, reading about Rick and Morty is almost as compelling as watching them.</p>
   <br>
    <p>Get your Rick on with the following facts!</p>

    <img src="https://media1.giphy.com/media/l41JU9pUyosHzWyuQ/giphy.gif?cid=790b761178c6a6bbc85e286ab2c1f0735c7a66c7fe785c2a&rid=giphy.gif&ct=g" alt="gif">

  </div>
  </div>





